/* .BigGuy{
    color: yellow;
}
.myGee{
    height: 40px;
    width: 120px;
    color: yellow;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 100ms;
    
}

.myGee:hover{
    background-color: brown;
    transform:scale(0.93);
    
}

.box{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
}
.highlight{
    border: 5px solid red;
} */

body{
    font-family: poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:grey;
}
.myContainer{
    background-color: rgb(240, 255, 249);
    height: 250px;
    width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
input{
    width: 80%;
    padding: 8px;
    margin: 10px 0px;
    border: 1px solid orchid;
    border-radius: 5px;
}
button{
    padding: 8px 15px;
    /* border: none;  */
    border-radius: 5px;
   background-color :green ;
   color: white;

}
ul{
    padding: 0;
    list-style: none; 
}

li{
    border: 1px solid #ddd;
    margin: 5px 0;
    border-radius:5px ;
    cursor: pointer;
    padding: 10px;
}
li:hover{
    background-color: aqua;
}

